{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "ConnectionStrings:Default": "YOUR_CONNECTION_STRING_HERE",
    "ConnectionStrings:Secondary": "YOUR_SECOND_DATABASE_CONNECTION_STRING_HERE",
    "KEEPALIVE_DATABASES": "Default,Secondary",
    "TIME_ZONE": "Eastern Standard Time",
    "WORK_DAYS": "Mon-Fri",
    "WORK_START": "07:00",
    "WORK_END": "19:00"
  }
}
